*.opendb
*.ncb
*.pdb
*.sdf
*.suo
*.swp
*.user
*.bak
*.obj
*.idb
*.orig
*.opensdf
*.ipch
*.log
*.ilk
*.exp
log/*.txt
*.bsc
*.a
*.so
/src/kstrategy/js/build/*.js
moc_*.cpp
Debug
Release
log
#*#
*~
/_*
/lib
/obj
/dll
/build
GeneratedFiles
build-twd-Debug
/deps/zmq/doc
/deps/zmq/lib
/deps/zmq/foreign
/deps/zmq/builds/msvc/libzmq/Debug
/src/AlgTrade/algotrade-bdd
!/bin/quick
/src/kstrategy/js/generaltemp.ts
*VC.db*
twd.VC.VC.opendb
*.stash
/bin/twd_with_tgw
.vs
bin